<div class="mx-auto max-w-2xl mt-10">
  <h1 class="text-center font-semibold text-2xl mb-10">Password Generator</h1>

  <div>
    <label class="text-lg block">Enter Length</label>
    <input
      class="border w-full border-black py-1 px-1"
      type="text"
      (input)="onChangeLength($event)"
    />
  </div>

  <div class="mt-2">
    <label class="text-lg">Use Letters</label>
    <input class="ml-1" type="checkbox" (change)="onChangeUseLetters()" />
  </div>

  <div class="mt-2">
    <label class="text-lg">Use Numbers</label>
    <input class="ml-1" type="checkbox" (change)="onChangeUseNumbers()" />
  </div>

  <div class="mt-2">
    <label class="text-lg">Use Symbols</label>
    <input class="ml-1" type="checkbox" (change)="onChangeUseSymbols()" />
  </div>

  <div class="mt-5">
    <button
      class="disabled:bg-red-300 bg-red-800 text-white px-4 py-2"
      [disabled]="
        !(length && (includeLetters || includeSymbols || includeNumbers))
      "
      (click)="onButtonClicked()"
    >
      Generate
    </button>
  </div>

  <div class="mt-4" *ngIf="password">
    <label>Your Generated Password</label>
    <input
      class="border w-full border-black py-1 px-1"
      type="text"
      [value]="password"
    />
  </div>
</div>
